.textArea {
	> div {
		display: flex;
		flex-direction: column;

		> label {
			margin: 0.25rem;
		}

		> textarea {
			width: 100%;
			border-style: solid;
			border-color: #000;
			border-width: 1px;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
			font-family: Consolas, "Courier New", monospace;
			resize: vertical;
		}

		> p {
			color: #dc2626;
		}
	}
}
