
services:
  dependencies:
    image: node:22.0.0-alpine
    working_dir: /app
    restart: "no"
    command: >
      sh -c "
        if [ ! -f node_modules/.deps_installed ]; then
          npm ci && touch node_modules/.deps_installed;
        fi
      "
    volumes:
      - .:/app
      - root_node_modules:/app/node_modules

  frontend:
    image: ulp-frontend
    build:
      context: .
      dockerfile: src/frontend/main-ui/Dockerfile.development
    container_name: frontend-main-ui
    working_dir: /app/src/frontend/main-ui
    command: sh -c "npm run start"
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - root_node_modules:/app/node_modules
    environment:
      - REACT_APP_SERVICES_HOST=/api
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      dependencies:
        condition: service_completed_successfully
    networks:
      - frontend

  server:
    image: ulp-server
    build:
      context: .
      dockerfile: src/backend/server/Dockerfile.development
    container_name: backend-server
    working_dir: /app/src/backend/server
    command: sh -c "mkdir -p build && touch build/server.js && npm run start"
    ports:
      - "5001:5001"
    volumes:
      - .:/app
      - root_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      dependencies:
        condition: service_completed_successfully
      db-redis:
        condition: service_started
    networks:
      - server

  identity-server:
    image: ulp-identity-server
    build:
      context: .
      dockerfile: src/backend/identity-server/Dockerfile.development
    container_name: backend-identity-server
    working_dir: /app/src/backend/identity-server
    command: sh -c "mkdir -p build && touch build/server.js && npm run start"
    ports:
      - "8001:8001"
    volumes:
      - .:/app
      - root_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      dependencies:
        condition: service_completed_successfully
      db-redis:
        condition: service_started
    networks:
      - server

  db-redis:
    image: ulp-redis
    build:
      context: ./src/db/redis
      dockerfile: Dockerfile.development
    container_name: db-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - server

  redis-insight:
    image: redislabs/redisinsight:3.0
    # run as root user so container can write to volume
    user: "0:0"
    ports:
      - "6479:6479"
    volumes:
      - redisinsight_data:/data
    depends_on:
      - db-redis
    networks:
      - server

  proxy-nginx:
    image: ulp-proxy-nginx
    build:
      context: ./src/proxy/nginx
      dockerfile: Dockerfile.development
    ports:
      - "80:80"
    depends_on:
      - frontend
      - server
      - identity-server
    networks:
      - frontend
      - server

networks:
  frontend:
  server:


volumes:
  root_node_modules:
  redis_data:
  redisinsight_data:
