services:
  frontend:
    image: ulp-frontend
    build:
      context: ./
      dockerfile: src/frontend/main-ui/Dockerfile.development
      args:
        - REACT_APP_SERVICES_HOST=/api
    volumes:
      - ./src/frontend/main-ui/:/app
      - /app/node_modules
      - /app/src/frontend/main-ui/node_modules
    networks:
      - frontend

  server:
    image: ulp-server
    build:
      context: ./
      dockerfile: src/backend/server/server/Dockerfile.development
    volumes:
      - ./src/backend/server/server/:/app/src/backend/server/server
      - ./src/backend/server/_shared/:/app/src/backend/server/_shared
      - /app/node_modules
      - /app/src/backend/server/server/node_modules
      - /app/src/backend/server/_shared/node_modules
    depends_on:
      - db-redis
    networks:
      - server

  identity-server:
    image: ulp-identity-server
    build:
      context: ./
      dockerfile: src/backend/server/identity-server/Dockerfile.development
    volumes:
      - ./src/backend/server/identity-server/:/app/src/backend/server/identity-server
      - ./src/backend/server/_shared/:/app/src/backend/server/_shared
      - /app/node_modules
      - /app/src/backend/server/identity-server/node_modules
      - /app/src/backend/server/_shared/node_modules
    depends_on:
      - db-redis
    networks:
      - server

  db-redis:
    image: ulp-redis
    build:
      context: ./src/db/redis
      dockerfile: Dockerfile.development
    volumes:
      - cache:/data
    networks:
      - server

  redis-insight:
    image: redislabs/redisinsight:3.0
    ports:
      - '8001:8001'
    volumes:
      - cache:/data
    depends_on:
      - db-redis
    networks:
      - server

  proxy-nginx:
    image: ulp-proxy-nginx
    build:
      context: ./src/proxy/nginx
      dockerfile: Dockerfile.development
    ports:
      - "80:80"
    depends_on:
      - frontend
      - server
      - identity-server
    networks:
      - frontend
      - server

networks:
  frontend:
  server:


volumes:
  cache:
    driver: local
