a {
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity)) /* #f3f4f6 */;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration-line: none;
    
    &:hover {
        text-decoration-line: none;
    }
}