.textInput {
	> div {
		display: flex;
		flex-wrap: wrap;

		> label {
			margin: 0.25rem;
			flex: 0 0 auto;
		}

		> input {
			flex: 1 1 0;
			min-width: 0;
			width: auto;
			border-style: solid;
			border-color: #000;
			border-width: 1px;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}

		> select {
			flex: 0 0 auto;
			border-style: solid;
			border-color: #000;
			border-width: 1px;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}

		> p,
		> div:last-child {
			flex-basis: 100%;
			margin: 0.25rem 0 0;
			min-height: 1.5rem;
		}

		> p {
			color: #dc2626;
			line-height: 1.5rem;
		}
	}
}
