API_PORT=8001

REDIS_HOSTNAME=db-redis
REDIS_PORT=6379

# UNSAFE!!! For local development only
REDIS_PASSWORD=dev_root_password_change_me

# UNSAFE!!! For local development only
MONGO_URL=mongodb://llm_project_app:dev_app_password_change_me@db-mongo:27017/llm_project?authSource=llm_project

# UNSAFE!!! For local development only
JWT_KEY=secret
