.Button {
	border-radius: 0.375rem;
	padding: 0.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 600;
	cursor: pointer;

	&.Submit {
		background-color: #22c55e;

		&:hover {
			background-color: #4ade80;
		}

		&:focus {
			outline: none;
			box-shadow: inset 0 0 0 2px #16a34a;
		}
	}

	&.Cancel {
		background-color: #ef4444;

		&:hover {
			background-color: #f87171;
		}

		&:focus {
			outline: none;
			box-shadow: inset 0 0 0 2px #dc2626;
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 40%;
	}
}
