.Header {
	height: 2.5rem;
	--tw-bg-opacity: 1;
	background-color: rgb(51 65 85 / var(--tw-bg-opacity));

	a {
		--tw-text-opacity: 1;
		color: #f3f4f6;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		text-decoration-line: none;

		&:hover {
			text-decoration-line: none;
		}
	}

	& > div {
		height: 2.5rem;
		display: flex;
		justify-content: space-between;

		.navBar {
			height: 100%;
			display: flex;

			> a {
				margin-right: 10px;

				&:last-of-type {
					margin-right: 0px;
				}
			}
		}
	}
}
